/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--FF-Title);
}

:root {
  /* Font Family */
  --FF-Title: 'DM Sans', sans-serif;
  /* Fonte Size - Mobile*/
  --FS-Title: 24px;
  --FS-Sub-Title: 16px;
  --FS-contato-text: 11px;
  /* Cores */
  --background: #171717;
  --Text-black: #171717;
  --text-white: #F9F9F9;
  --text-gray: #828282;
  --Primary-color: #65FBD2;
  /* #5999DE */
}

img {
  max-width: 100%;
}

/* Mobile First */

#body {
  position: relative;
  display: grid;
  background-color: var(--background);
  gap: 56px;
}

.arrow-up {
  position: fixed;
  bottom: 70px;
  right: 10px;
}

/* Header */
#header {
  position: fixed;
  width: 100%;
  color: var(--text-white);
  background-color: #171717;
}

.navbar {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #171717;
}

.navbar h2 {
  font-size: var(--FS-Sub-Title);
  color: var(--text-white);
}

.list-1,
.close {
  display: none;
}

/* Menu Hamburguer */

.list-1 li a {
  color: var(--text-white);
}

.js-show-menu {
  display: flex;
  height: 100%;
  background-color: var(--Text-black);
  flex-direction: column;
  position: fixed;
  padding: 0 50px;
  right: 0;
  top: 0;
  gap: 20px;
  animation: showMenu 0.5s forwards;
}

.js-close-menu {
  display: block;
  width: max-content;
  position: relative;
  top: 20px;
  right: -90px;
}

.js-hide-menu {
  animation: hideMenu 1s forwards;
}

/* Animação Menu Hamburguer */
@keyframes showMenu {
  from {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.foto {
  display: flex;
  margin-top: 24px;
}

.foto img {
  margin: 0 auto;
  max-width: 300px;
  border-radius: 50%;
}

/* Main */

/* Apresentação */

#main {
  margin: 50px auto;
  display: grid;
  width: 100%;
  max-width: 1140px;
  padding: 0px 24px;
  gap: 56px;
}

#apresentacao {
  height: 70vh;
}

.infos h1 {
  font-size: var(--FS-Title);
  color: var(--text-white);
  margin-top: 16px;
  text-align: center;
}

.infos h2 {
  margin-bottom: 25px;
  font-size: var(--FS-Sub-Title);
  color: var(--text-gray);
  margin-top: 1.5rem;
  text-align: center;
}

.btn-apresentacao {
  display: flex;
  max-width: 550px;
  min-width: 320px;
  margin: 0 auto;
  justify-content: space-between;
}

.download a,
.btn-contato,
.btn-contato a {
  padding: 12px 27px;
  border-color: transparent;
}

.download a,
.download {
  color: var(--background);
  background-color: var(--Primary-color);
  border: none;
  cursor: pointer;
}

.btn-contato {
  color: var(--text-white);
  background-color: transparent;
  border: 1px solid #333333;
}

/* Sobre-mim */
#sobre {
  padding: 75px 0;
}

.resumo {
  max-width: 550px;
  margin: 0 auto;
}

.ti-img {
  display: none;
}

.resumo h1 {
  text-align: center;
  margin-bottom: 25px;
  color: var(--text-white);
  font-size: var(--FS-Title);
}

.resumo p {
  color: var(--text-gray);
  font-size: var(--FS-Sub-Title);
  text-align: center;
  margin-bottom: 25px;
}

.List-about-me li{
  margin-bottom: 25px;
  color: var(--text-gray);
  font-size: var(--FS-Sub-Title);
}

.list-Title{
  color: var(--text-white);
  font-size: var(--FS-Title);
  margin-bottom: 25px;
}



/* Contato */
#contato {
  padding: 75px 0;
}

.contato h1 {
  text-align: center;
  color: var(--text-white);
  font-size: var(--FS-Title);
}

.contato a {
  color: var(--text-gray);
}

.list-2 {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 45px;
}

.list-3 {
  text-align: center;
}

.list-3 li:nth-child(1) {
  margin-top: 14px;
}

.list-3 li:nth-child(2) {
  color: var(--text-white);
  font-size: var(--FS-Sub-Title);
}

.list-3 li:nth-child(3) {
  color: var(--text-gray);
  font-size: var(--FS-contato-text);
}

/* Projetos */

#projetos {
  padding: 50px 0;
}

.container-projetos {
  display: grid;
  margin: 0 auto;
  margin: 25px 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.projetos>h1 {
  text-align: center;
  color: var(--text-white);
  font-size: var(--FS-Title);
  margin-top: 24px;
}

.card {
  display: grid;
  margin: 0 auto;
  width: 310px;
  background: #212121;
  padding: 16px 18px;
}

.image {
  margin: 0 auto;
  margin-top: 10px;
  height: 100px;
  overflow: hidden;
}

.card h1 {
  color: var(--text-white);
  font-size: var(--FS-Sub-Title);
}

.card h2 {
  color: var(--text-gray);
  font-size: var(--FS-contato-text);
}

.btn-mais {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  color: var(--background);
  background-color: var(--Primary-color);
  border: none;
  cursor: pointer;
}

/* Serviços */
#servicos {
  padding: 50px 0;
}

.container-services {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.servicos h1 {
  text-align: center;
  color: var(--text-white);
  font-size: var(--FS-Title);
  margin-top: 24px;
}

.card-services {
  width: 300px;
  margin: 0 auto;
  border-bottom: 3px solid var(--Primary-color);
  text-align: center;
  background: #212121;
  padding: 31px 99px 43px;
}

.card-services h2 {
  color: var(--text-gray);
  font-size: var(--FS-Sub-Title);
}

/* Minhas skills */

.minhas-skills h1 {
  text-align: center;
  margin-top: 24px;
  color: var(--text-white);
  font-size: var(--FS-Title);
}

.card-skills {
  display: grid;
  color: var(--text-white);
  padding: 15px;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 20px;
}

.card-skills li {
  margin: 0 auto;
  width: 110px;
}

/* footer */

#footer {
  background-color: #212121;
  padding: 14px;
  text-align: center;
  color: white;
  font-size: var(--FS-Sub-Title);
}

.azl {
  color: var(--Primary-color);
}

/* Width 768px - Tablet */

@media (min-width: 767px) {
  :root {
    /* Font Family */
    --FF-Title: 'DM Sans', sans-serif;
    /* Fonte Size - Mobile*/
    --FS-Title: calc(24px * 1.6);
    --FS-Sub-Title: calc(16px * 1.6);
    --FS-contato-text: calc(11px * 1.6);
  }

  #main {
    margin-top: 75px;
  }

  .resumo {
    display: grid;
    /* gap: 40px; */
  }

  .list-1 {
    display: flex;
    gap: 20px;
  }

  .js-menu-hamburguer {
    display: none;
  }

  .container-resumo {
    margin-top: 24px;
  }


  .ti-img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    height: max-content;
    opacity: 0.7;
  }

  .ti-img img {
    max-width: 100%;
    border-radius: 50%;
  }

}

/* Width 1024 - Desktop */

@media (min-width: 1023) {
  :root {
    /* Fonte Size - Desktop*/
    --FS-Title: calc(24px *);
    --FS-Sub-Title: calc(16px * 1.8);
    --FS-contato-text: calc(11px * 1.8);
  }
}

/* Estilo  Scrool*/
::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar {
  width: 5px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #65FBD2;
  border-radius: 10px;
}